#divchat {
    /*width: 160px;
    height: 45px;*/
/*    overflow: hidden;*/
    background-color: #ce017e;
/*    bottom: 9%;*/
/*    position: absolute;*/
    border-radius: 8px;
/*    left: 85%;*/
/*    transition: width 1s, height 1s, left 2s;*/
/*    animation-delay: 1s;*/
}

    /*#divchat:hover {
        width: 600px;
        height: 500px;
        left: 55%;
    }*/

.textarea {
    width: 100%;
    height: 300px;
    color:#000000;
    border-radius: 7px;
}

.input {
    border-radius: 6px;
    border: 1px solid;
    color: #a75ea7;
    text-decoration-color: #000000;
    width: 90%;
}

