@{
    ViewData["Title"] = "Termos de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Desenvolvido e implementado por Émerson Schulze em ambito de estudo, no período noturno, fora do expediente e dos serviços ou equipamentos disponibilizados pela empresa.</p>
